<div class="wrapper">
  <div class="personal-detail">
    <div class="summary">
      <div class="step-1">
        <span class="number"> 1 </span>
        <p>Informações iniciais</p>
      </div>
      <div class="step-2">
        <span class="number"> 2 </span>
        <p>Renda Familiar</p>
      </div>
      <div class="step-2">
        <span class="number active"> 3 </span>
        <p>Renda familiar</p>
      </div>
      <div class="step-2">
        <span class="number"> 4 </span>
        <p>Habitação</p>
      </div>
      <div class="step-2">
        <span class="number"> 5</span>
        <p>Transporte</p>
      </div>
      <div class="step-2">
        <span class="number"> 6 </span>
        <p>Saúde</p>
      </div>
      <div class="step-2">
        <span class="number"> 7 </span>
        <p>Familía</p>
      </div>
    </div>
    <div class="title">
      <span>Step 3/5</span>
      <h3>Informações iniciais</h3>
    </div>
    <div class="form-wrapper">
      <div>
        <p>
          7. Quantos responsáveis financeiros tem na sua família? (o número de
          pessoas que contribuem com a renda da sua casa) *
        </p>
        <input
          id="family-income-1"
          name="income"
          type="radio"
          value="1 membro"
          [(ngModel)]="formQuestions.questionSeven"
        />
        <label for="family-income-1">1 membro </label><br />

        <input
          id="family-income-2"
          name="income"
          type="radio"
          value="2 membros"
          [(ngModel)]="formQuestions.questionSeven"
        />
        <label for="family-income-2">2 membros </label><br />

        <input
          id="family-income-3"
          name="income"
          type="radio"
          value="3 membros"
          [(ngModel)]="formQuestions.questionSeven"
        />
        <label for="family-income-3">3 membros </label><br />

        <input
          id="family-income-4"
          name="income"
          type="radio"
          value="4 ou mais membros"
          [(ngModel)]="formQuestions.questionSeven"
        />
        <label for="family-income-4">4 ou mais membros </label><br />
      </div>

      <div>
        <p>
          8. Qual a condição de trabalho do(s) responsável(eis) financeiro(s) da
          sua casa? (Marque todas as alternativas que correspondem a sua
          família) *
        </p>
        <div class="group-1">
          <input
            id="working-condition-1"
            name="working-condition"
            type="checkbox"
            [checked]="formQuestions.questionEight.optionOne"
            (change)="
              formQuestions.questionEight.optionOne = 'Funcionário Público'
            "
            [(ngModel)]="formQuestions.questionEight.optionOne"
          />
          <label for="working-condition-1">Funcionário Público </label><br />

          <input
            id="working-condition-2"
            name="working-condition"
            type="checkbox"
            [checked]="formQuestions.questionEight.optionTwo"
            (change)="formQuestions.questionEight.optionTwo = 'Empregado CLT'"
            [(ngModel)]="formQuestions.questionEight.optionTwo"
          />
          <label for="working-condition-2">Empregado CLT </label><br />

          <input
            id="working-condition-3"
            name="working-condition"
            type="checkbox"
            [checked]="formQuestions.questionEight.optionThree"
            (change)="
              !(formQuestions.questionEight.optionThree = 'Desempregado')
            "
            [(ngModel)]="formQuestions.questionEight.optionThree"
          />
          <label for="working-condition-3">Desempregado </label><br />

          <input
            id="working-condition-4"
            name="working-condition"
            type="checkbox"
            [checked]="formQuestions.questionEight.optionFour"
            (change)="
              !(formQuestions.questionEight.optionFour =
                'Trabalhador Informal (trabalho onde não há contribuição de tributos
            e impostos, como :INSS, IS, IR)')
            "
            [(ngModel)]="formQuestions.questionEight.optionFour"
          />
          <label for="working-condition-4"
            >Trabalhador Informal (trabalho onde não há contribuição de tributos
            e impostos, como :INSS, IS, IR) </label
          ><br />

          <input
            id="working-condition-5"
            name="working-condition"
            type="checkbox"
            [checked]="formQuestions.questionEight.optionFive"
            (change)="
              !(formQuestions.questionEight.optionFive =
                'Trabalhador Autônomo (Há contribuição - MEI p.ex.)')
            "
            [(ngModel)]="formQuestions.questionEight.optionFive"
          />
          <label for="working-condition-5"
            >Trabalhador Autônomo (Há contribuição - MEI p.ex.) </label
          ><br />

          <input
            id="working-condition-6"
            name="working-condition"
            type="checkbox"
            [checked]="formQuestions.questionEight.optionSix"
            (change)="
              !(formQuestions.questionEight.optionSix =
                'Pescador/agricultor familiar')
            "
            [(ngModel)]="formQuestions.questionEight.optionSix"
          />
          <label for="working-condition-6">Pescador/agricultor familiar </label
          ><br />

          <input
            id="working-condition-7"
            name="working-condition"
            type="checkbox"
            [checked]="formQuestions.questionEight.optionSeven"
            (change)="!(formQuestions.questionEight.optionSeven = 'Aposentado')"
            [(ngModel)]="formQuestions.questionEight.optionSeven"
          />
          <label for="working-condition-7">Aposentado </label><br />

          <input
            id="working-condition-8"
            name="working-condition"
            type="checkbox"
            [checked]="formQuestions.questionEight.optionEigth"
            (change)="
              !(formQuestions.questionEight.optionEigth = 'Beneficiário INSS')
            "
            [(ngModel)]="formQuestions.questionEight.optionEigth"
          />
          <label for="working-condition-8">Beneficiário INSS </label><br />
        </div>
      </div>
      <div>
        <p>
          9. Qual a condição de renda dos responsáveis financeiros da sua casa?
          *
        </p>
        <input
          id="income-condition-1"
          name="income-condition"
          type="radio"
          value="sem renda"
          [(ngModel)]="formQuestions.questionNine"
        />
        <label for="income-condition-1">Sem renda </label><br />

        <input
          id="income-condition-2"
          name="income-condition"
          type="radio"
          value="renda até um salário"
          [(ngModel)]="formQuestions.questionNine"
        />
        <label for="income-condition-2">Renda até um salário</label><br />

        <input
          id="income-condition-3"
          name="income-condition"
          type="radio"
          value="renda acima de um salário"
          [(ngModel)]="formQuestions.questionNine"
        />
        <label for="income-condition-3">Renda acima de um salário </label><br />
      </div>
      <div class="button">
        <button type="button" routerLink="/form-step-two">Voltar</button>
        <button (click)="log()" type="button" routerLink="/form-step-four">
          Avancar
        </button>
      </div>
    </div>
  </div>
</div>
