<div class="wrapper">
  <div class="personal-detail">
    <div class="summary">
      <div class="step-1">
        <span class="number"> 1 </span>
        <p>Informações iniciais</p>
      </div>
      <div class="step-2">
        <span class="number"> 2 </span>
        <p>Família</p>
      </div>
      <div class="step-2">
        <span class="number"> 3 </span>
        <p>Renda familiar</p>
      </div>
      <div class="step-2">
        <span class="number"> 4 </span>
        <p>Renda Famíliar</p>
      </div>
      <div class="step-2">
        <span class="number active"> 5 </span>
        <p>Transporte</p>
      </div>
      <div class="step-2">
        <span class="number"> 6 </span>
        <p>Saúde</p>
      </div>
    </div>
    <div class="title">
      <span>Step 5/6</span>
      <h3>Transporte</h3>
    </div>
    <div class="form-wrapper">
      <div>
        <p>
          12. Qual meio de transporte que você utiliza para chegar ao campus? *
        </p>
        <input
          id="transport-1"
          name="transport"
          type="radio"
          value="0"
          [(ngModel)]="formQuestions.questionTwelve"
        />
        <label for="transport-1"
          >A pé (Não utiliza nenhum meio de transporte) </label
        ><br />

        <input
          id="transport-2"
          name="transport"
          type="radio"
          value="1"
          [(ngModel)]="formQuestions.questionTwelve"
        />
        <label for="transport-2"
          >Transporte Próprio (automóvel, moto, bicicleta, etc) </label
        ><br />

        <input
          id="transport-3"
          name="transport"
          type="radio"
          value="2"
          [(ngModel)]="formQuestions.questionTwelve"
        />
        <label for="transport-3">Transporte Público </label><br />

        <input
          id="transport-4"
          name="transport"
          type="radio"
          value="3"
          [(ngModel)]="formQuestions.questionTwelve"
        />
        <label for="transport-4"
          >Transporte alternativo (vans, micro-ônibus, motoboy, etc) </label
        ><br />
      </div>

      <div>
        <p>13. Qual o número de conduções que usa para chegar ao campus? *</p>
        <div class="group-1">
          <input
            id="driving-1"
            name="driving"
            type="radio"
            value="0"
            [(ngModel)]="formQuestions.questionThirteen"
          />
          <label for="driving-1">1 a 2 conduções </label><br />

          <input
            id="driving-2"
            name="driving"
            type="radio"
            value="1"
            [(ngModel)]="formQuestions.questionThirteen"
          />
          <label for="driving-2">3 a 4 conduções </label><br />

          <input
            id="driving-3"
            name="driving"
            type="radio"
            value="2"
            [(ngModel)]="formQuestions.questionThirteen"
          />
          <label for="driving-3">5 conduções ou intermunicipal </label><br />

          <input
            id="driving-4"
            name="driving"
            type="radio"
            value="3"
            [(ngModel)]="formQuestions.questionThirteen"
          />
          <label for="driving-4">Nenhuma </label><br />
        </div>
      </div>

      <div class="button">
        <button type="button" routerLink="/form-step-four">Voltar</button>
        <button (click)="log()" type="button" routerLink="/form-step-six">
          Avancar
        </button>
      </div>
    </div>
  </div>
</div>
